<% @stories.each do |story| %>
  <article class="row collapsed">
    <div class="column">
      <h2>#<%= story.id %> - <%= story.title %></h2>
      <p class="metadata">
        by
        <%= link_to story.url, target: '_blank' do %>
          <%= story.by %> <%= I18n.l(story.created_at, format: "%m/%d/%Y %I:%M") %>
          <% end %>
      </p>
      <p class="metadata comments"><%= story.kids&.count || 0 %> comments</p>
      <a href="#">+ Show most relevant comments</a>
    </div>
  </article>
<% end %>

<!--<article class="row">
  <div class="column">
    <h2>How Facebook Is Fueling the French Populist Rage</h2>
    <p class="metadata">by <a href="#">ilamon 06/12/2018 09:35</a></p>
    <p class="metadata comments">92 comments</p>
    <a href="#">- Hide most relevant comments</a>
  </div>
</article>

<div class="row comments">
  <div class="ui segment">
    <p class="metadata"><a href="#">purplethinking 06/12/2018 11:17</a></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit ex, molestie sed maximus eget, feugiat sit amet erat. In sed ante hendrerit, pellentesque tortor sit amet, finibus massa. Morbi metus nisi, vestibulum quis elit sit amet, fermentum pellentesque mauris. Vestibulum lobortis urna nec diam ullamcorper rhoncus at et ipsum. Etiam eget bibendum dolor. Aliquam erat volutpat. Morbi efficitur lorem eu hendrerit vehicula. Integer sit amet libero nec urna posuere molestie non ut odio. Mauris vestibulum a urna in laoreet. Sed erat felis, placerat et egestas ac, fermentum nec ipsum. Nulla iaculis nunc quis est aliquet, nec maximus arcu dignissim.</p>
  </div>

  <div class="ui segment">
    <p class="metadata"><a href="#">purplethinking 06/12/2018 11:17</a></p>
    <p> Nulla ac efficitur est, non elementum nisi. Fusce pulvinar ante vel orci ultrices, at gravida velit luctus. Mauris scelerisque egestas tincidunt. Pellentesque rutrum sem a lectus porttitor tempus. Cras laoreet dapibus magna sed venenatis. Donec molestie porttitor sapien, ac imperdiet tortor iaculis vel. Nunc sed lectus et mi condimentum sollicitudin ut in est. Integer ultricies, enim sit amet luctus imperdiet, felis nisi malesuada dui, eget ultrices libero nunc vel eros. Aliquam finibus blandit odio eu tristique. Etiam tincidunt purus sapien, nec pellentesque augue sodales ac. Proin lacinia lectus a pharetra malesuada. Curabitur facilisis efficitur eros nec convallis. Nam eros nibh, auctor et tincidunt id, fringilla at ex. Duis ac odio est. Vestibulum ultricies tempus leo, non faucibus enim condimentum mollis. Aenean lorem diam, elementum nec nunc quis, consectetur semper ex. Ut faucibus nulla sit amet augue </p>
  </div>

</article>
 -->
