<% @stories.each do |story| %>
  <article class="row collapsed" id="story-<%= story.id %>">
    <div class="column">
      <h2>#<%= story.id %> - <%= story.title %></h2>
      <p class="metadata">
        by
        <%= link_to story.url, target: '_blank' do %>
          <%= story.by %> <%= I18n.l(story.created_at, format: "%m/%d/%Y %I:%M") %>
          <% end %>
      </p>
      <p class="metadata comments"><%= story.kids&.count || 0 %> comments</p>
      <%= link_to top_story_relevant_comments_path(story.id), data: { remote: true }, class: 'show-comments' do %>
        + Show most relevant comments
      <% end %>
    </div>
  </article>
<% end %>
