<!DOCTYPE html>
<html>
  <head>
    <title>HackernewsTop15</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <nav class="ui segment">
        <%= image_tag "logo.jpg", width: 300, height: 60 %>
      </nav>

      <div class="ui segment" id="search-area">
        <form class="ui form">
          <div class="ui fluid icon input">
            <input type="text" placeholder="Search stories">
            <i class="search link icon"></i>
          </div>
        </form>
      </div>

      <div class="ui grid" id="stories">
        <div class="row">
          <div class="column">
            <h1>Top 15 Hacker News</h1>
          </div>
        </div>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
