<!DOCTYPE html>
<html>
  <head>
    <title>HackernewsTop15</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <nav class="ui segment">
        <%= link_to root_path do %>
          <%= image_tag "logo.jpg", width: 300, height: 60 %>
        <% end %>
      </nav>

      <div class="ui segment" id="search-area">
        <%= form_tag stories_path, method: :get do %>
          <div class="ui fluid icon input">
            <%= text_field_tag 'query', params[:query], placeholder: 'Search stories' %>
            <i class="search link icon"></i>
          </div>
        <% end %>
      </div>

      <div class="ui grid" id="stories">
        <div class="row">
          <div class="column">
            <% if params[:query] %>
              <h1>Hacker News</h1>
            <% else %>
              <h1>Top 15 Hacker News</h1>
            <% end %>
          </div>
        </div>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
